<div class="card">
  <form
    action="<?= constant('URL') ?>/Producto/insert"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="">
      <label for="nombre">Nombre</label>
      <input name="nombre" type="text" required />
    </div>
    <div class="">
      <label for="codigo">Código:</label>
      <input name="codigo" type="text" />
    </div>
    <div class="">
      <label for="precio">Precio:</label>
      <input name="precio" type="number" step="0.1" required />
    </div>
    <div class="">
      <label for="stock">Stock:</label>
      <input name="stock" type="number" required />
    </div>
    <div class="">
      <label for="foto">Foto:</label>
      <input name="foto" type="file" required />
    </div>
    <div class="">
      <label for="descripcion">Descripcion:</label>
      <input name="descripcion" type="text" required />
    </div>
    <div class="container-edit">
      <input class="edit" type="submit" />
    </div>
  </form>
</div>
