<p>
  <?php
    $message
    ?>
</p>
<div class="section">
  <div class="container">
    <div class="grid-row">
      <div class="grid-item">
        <span>
          <h3>First Heading</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </span>
        <img
          src="../../public/img/posts/0a12c2d2bf65dc9102794d89adb0112c.png"
        />
      </div>
      <div class="grid-item">
        <span>
          <h3>Second Heading</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </span>
        <img
          src="../../public/img/posts/0a12c2d2bf65dc9102794d89adb0112c.png"
        />
      </div>
      <div class="grid-item">
        <span>
          <h3>Third Heading</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </span>
        <img
          src="../../public/img/posts/0a12c2d2bf65dc9102794d89adb0112c.png"
        />
      </div>
      <div class="grid-item">
        <span>
          <h3>Fourth Heading</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </span>
        <img
          src="../../public/img/posts/0a12c2d2bf65dc9102794d89adb0112c.png"
        />
      </div>
      <div class="grid-item">
        <span>
          <h3>Fifth Heading</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </span>
        <img
          src="../../public/img/posts/0a12c2d2bf65dc9102794d89adb0112c.png"
        />
      </div>
      <div class="grid-item">
        <span>
          <h3>Sixth Heading</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </span>
        <img
          src="../../public/img/posts/0a12c2d2bf65dc9102794d89adb0112c.png"
        />
      </div>
    </div>
  </div>
</div>
