<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--! Es como hacer un echo -->
    <title>Dashboard || <?= $title ?></title>
  </head>
  <body>
    <nav>
      <a href="<?=constant('URL')?>">Inicio</a>
      <a href="<?=constant('URL')?>/Admin/Post">Ver posts</a>
    </nav>
    <h1>Dashboard</h1>
    <main>
      <?= $child ?>
    </main>
    <footer>
      <h2>Este es el footer</h2>
    </footer>
  </body>
</html>
