<?php
  $img = constant('URL')."/public/img/posts/".$post->getFoto(); ?>
<article class="article">
  <section
    class="article__image"
    style="
      background: url('<?=$img?>') center center;
      background-repeat: no-repeat;
      background-size: cover;
    "
  >
    <div class="article__plataforms">
      <img
        src="<?=constant('URL')?>/public/icons/post/playstation-4.svg"
        alt=""
      />
      <img src="<?=constant('URL')?>/public/icons/post/ps5.svg" alt="" />
      <img src="<?=constant('URL')?>/public/icons/post/xbox-2.svg" alt="" />
      <img src="<?=constant('URL')?>/public/icons/post/pc.svg" alt="" />
    </div>
    <h2 class="article__title"><?= $post->getTitulo()?></h2>
    <div class="article__descripcion"><?= $post->getDescripcion()?></div>
  </section>

  <section class="article__content">
    <div class="article__content-especificaciones">
      <h3 class="article__content-title">Especificaciones</h3>
      <p class="article__developer">
        <strong>Desarrollado por:</strong>
        <?= $post->getDesarrollador()?>
      </p>
      <p class="article__publisher">
        <strong>Desarrollado por:</strong>
        <?= $post->getLanzador()?>
      </p>
      <p class="article__trailer-date">
        <strong>Fecha del trailer:</strong>
        <?= $post->getTrailer()?>
      </p>
      <p class="article__release-date">
        <strong>Fecha de lanzamiento:</strong>
        <?= $post->getLanzamiento()?>
      </p>
      <ul class="article__details-list">
        <li class="article__details-item">
          <strong>Género:</strong>
          <?php
            foreach($generos as $genero){
              print($genero->getNombre(). " "); } ?>
        </li>
        <li class="article__details-item">
          <strong>Plataformas:</strong>
          <?php
            foreach($plataformas as $plataforma){
              print($plataforma->getNombre()); } ?>
        </li>
        <li class="article__details-item">
          <strong>Clasificación:</strong> ESBR Mature 17+.
        </li>
      </ul>
    </div>

    <div class="article__content-requiremnts">
      <h3 class="article__requirements-title article__content-title">
        Requisitos del sistema
      </h3>
      <table class="article__requirements-table">
        <thead>
          <tr>
            <th>Sistema operativo</th>
            <th>Procesador</th>
            <th>Memoria</th>
            <th>Tarjeta gráfica</th>
            <th>Almacenamiento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="sistemas operativos">Windows 10 (64 bits)</td>
            <td data-label="Procesador">
              Intel Core i5-4460 o AMD FX-6300 o mejor
            </td>
            <td data-label="Memoria">8 GB de RAM</td>
            <td data-label="Tarjeta gráfica">
              NVIDIA GeForce GTX 760 o AMD Radeon R7 260x con 2 GB de VRAM
            </td>
            <td data-label="Almacenamiento">30 GB de espacio disponible</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="article__content-trailer">
      <h3 class="article__content-title">Trailer</h3>
      <iframe
        src="https://www.youtube.com/embed/E69tKrfEQag"
        title="Resident Evil 4 - 2nd Trailer | PS5 Games"
        class="article__iframe"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div> -->
  </section>
</article>

<section class="coment">
  <!-- <form action="<?= constant('URL') ?>/Post/insertComent" method="post"> -->
  <form id="form-coment" action="" method="post">
    <label for="texto">Comentario:</label>
    <br />
    <input type="hidden" name="id" id="form-id" value="<?= $post->getId()?>" />
    <textarea
      name="texto"
      id="form-texto"
      cols="50"
      rows="10"
      style="width: 80%"
    ></textarea>
    <br />
    <input type="submit" id="btn-enviar" />
  </form>
</section>

<article id="article-coments"></article>
<!-- ! SCRIPTS -->
<script src="<?=constant('URL')?>/public/js/insertComent.js"></script>
