<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NeoGaming 🧬🕹</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="header">
      <h1>Neo<span class="gaming">Gaming</span></h1>
      <nav class="header__nav">
        <ul>
          <li><a href="../../index.html">Inicio</a></li>
        </ul>
      </nav>
    </header>
    <article class="article">
      <section class="article__image">
        <div class="article__plataforms">
          <img src="../../assets/Component/playstation-4.svg" alt="" />
          <img src="../../assets/Component/ps5.svg" alt="" />
          <img src="../../assets/Component/xbox-2.svg" alt="" />
          <img src="../../assets/Component/pc.svg" alt="" />
        </div>
        <h2 class="article__title">Resident Evil 4</h2>
        <div class="article__descripcion">
          Resident Evil 4 es una versión actualizada del juego original de 2005,
          uno de los títulos más populares y aclamados de la serie. En este
          juego, los jugadores asumen el papel del agente especial Leon S.
          Kennedy mientras investiga una misteriosa aldea en Europa que está
          infectada por un nuevo tipo de virus. Con una jugabilidad mejorada,
          gráficos mejorados y nuevas características, Resident Evil 4 promete
          ser una experiencia emocionante y aterradora para los fanáticos de la
          serie.
        </div>
      </section>
      <section class="article__content">
        <div class="article__content-especificaciones">
          <h3 class="article__content-title">Especificaciones</h3>
          <p class="article__developer">
            <strong>Desarrollado por:</strong> Capcom.
          </p>
          <p class="article__publisher">
            <strong>Desarrollado por:</strong> Capcom.
          </p>
          <p class="article__trailer-date">
            <strong>Fecha del trailer:</strong> 20/10/2022.
          </p>
          <p class="article__release-date">
            <strong>Fecha de lanzamiento:</strong> 23 de Marzo del 2023.
          </p>
          <ul class="article__details-list">
            <li class="article__details-item">
              <strong>Género:</strong> Survival horror, Acción.
            </li>
            <li class="article__details-item">
              <strong>Plataformas:</strong> PlayStation 4, PlayStation 5, Xbox
              Series X|S, PC.
            </li>
            <li class="article__details-item">
              <strong>Clasificación:</strong> ESBR Mature 17+.
            </li>
          </ul>
        </div>

        <div class="article__content-requiremnts">
          <h3 class="article__requirements-title article__content-title">
            Requisitos del sistema
          </h3>
          <table class="article__requirements-table">
            <thead>
              <tr>
                <th>Sistema operativo</th>
                <th>Procesador</th>
                <th>Memoria</th>
                <th>Tarjeta gráfica</th>
                <th>Almacenamiento</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label="sistemas operativos">Windows 10 (64 bits)</td>
                <td data-label="Procesador">
                  Intel Core i5-4460 o AMD FX-6300 o mejor
                </td>
                <td data-label="Memoria">8 GB de RAM</td>
                <td data-label="Tarjeta gráfica">
                  NVIDIA GeForce GTX 760 o AMD Radeon R7 260x con 2 GB de VRAM
                </td>
                <td data-label="Almacenamiento">30 GB de espacio disponible</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="article__content-trailer">
          <h3 class="article__content-title">Trailer</h3>
          <iframe
            src="https://www.youtube.com/embed/E69tKrfEQag"
            title="Resident Evil 4 - 2nd Trailer | PS5 Games"
            class="article__iframe"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </section>
    </article>
  </body>
</html>
