<form action="<?= constant('URL') ?>/Post/insert" method="post">
  <div class="">
    <label for="titulo">Titulo</label>
    <input name="titulo" type="text" required />
  </div>
  <div class="">
    <label for="desarrollador">Desarrollado por:</label>
    <input name="desarrollador" type="text" required />
  </div>
  <div class="">
    <label for="lanzador">Lanzado por:</label>
    <input name="lanzador" type="text" required />
  </div>
  <div class="">
    <label for="trailer">Fecha de trailer:</label>
    <input name="trailer" type="date" required />
  </div>
  <div class="">
    <label for="lanzamiento">Fecha de lanzamiento:</label>
    <input name="lanzamiento" type="date" required />
  </div>
  <div class="">
    <label for="clasificacion">Clasificación:</label>
    <input name="clasificacion" type="text" required />
  </div>
  <input type="submit" />
</form>
