<p>
  <?php
    $message
    ?>
</p>
<h1>Main de genero para Admin</h1>
<section id="">
  <table id="tabla" class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody id="body"></tbody>
  </table>
</section>

<section class="modal hidden">
  <div class="flex">
    <button class="btn-close">⨉</button>
  </div>
  <div class="main-content">
    <h3>Genero</h3>
    <p>
      Los generos representan etiquetas sobre la tematica del juego. Aqui puedes
      añadir el genero:
    </p>
  </div>
  <form action="" method="POST" id="form-modal">
    <input
      type="text"
      id="text"
      placeholder="Ingresar el genero"
      name="nombre"
    />
    <button class="btn btn-submit" type="submit">Agregar</button>
  </form>
</section>

<div class="overlay hidden"></div>
<button class="btn btn-open">Agregar Genero</button>

<div id="main-container"></div>

<!-- ! SCRIPTS -->

<script src="<?=constant('URL')?>/public/js/crudGenero.js"></script>
<script src="<?=constant('URL')?>/public/js/modal.js"></script>
