
.grid-row .grid-item {
  transition: filter 0.5s ease;
  display: flex;
  cursor: pointer;
  background: #f7f7f7;
  box-shadow: 1px 0px 5px rgb(202, 184, 168);
  color: #607d8b;
  text-align: center;
  font-family: sans-serif;
  flex-direction: column-reverse;
  align-items: stretch;
  -webkit-transition: filter 0.5s ease;
  -moz-transition: filter 0.5s ease;
  -ms-transition: filter 0.5s ease;
  -o-transition: filter 0.5s ease;
}