/*globales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*--component-bg: #1c1c1c;  Gris muy oscuro 
  --component-bg-secondary: #2d2d2d; Gris oscuro*/

:root {
  --header: #1d1546;
  --card-title: #fff;
  --card-date: #c4983a;
  --card-preview: #b3b4d0;
  --component-bg: #151136;
  --component-bg-secondary: #1d1546;
  --card-color: #1d1546;
  --component-title: #333;
  --options: #320a28;
}

body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: var(--component-bg);
  color: var(--card-title);
}

/*Header*/

.header {
  max-width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid var(--component-bg);
}

.header h1 {
  font-size: 2.6em;
  color: var(--card-title);
  border-bottom: 2px white;
  border-style: ridge;
}

.header span {
  color: var(--card-date);
}

.header .nav ul {
  display: flex;
  gap: 20px;
}

.header li {
  font-weight: 400;
  display: block;
  list-style: none;
}

.header a {
  text-decoration: none;
  font-size: 2em;
  color: var(--card-title);
  transition: all 300ms;
}

.header-option.selected a {
  /* Estilos para la opción activa en el encabezado */
  color: var(--card-date);
}

.header.scrolled .header-option.selected a {
  /* Estilos para la opción de scroll y activa en el encabezado */
  color: var(--component-bg);
}

.nav a:hover {
  color: #8890b5;
  transform: scale(1.5, 1.5);
}

@media screen and (max-width: 500px) {
  .header {
    width: 100%;
    flex-direction: column;
  }
}

/* Estilos filters (mobile-first) */
.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  width: 100%;
  gap: 1em;
  font-size: 1.8em;
}

.filters_search .buscar {
  width: 278px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline-color: #0a1929;
}

.form-container .filters-form .selects-container {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.selects-container .select {
  width: 278px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--header);
  color: var(--card-title);
  outline: none;
  transition: 300ms;
}

.selects-container .select:hover {
  background-color: var(--card-date);
}

@media (min-width: 450px) {
  .filters {
    flex-direction: column;
  }

  .filters_search {
    display: flex;
    flex-direction: column;
  }

  .form-container .filters-form .selects-container {
    flex-direction: column;
  }

  .select-container {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1190px) {

  .filters {
    flex-direction: row;
  }

  .form-container .filters-form .selects-container {
    flex-direction: row;
  }
}


/*cards*/

.tarjetas {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-gap: 2rem;
  margin-top: 2rem;
  padding: 15px;
}

.tarjeta {
  background-color: var(--card-color);
  color: var(--card-title);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tarjeta:hover {
  transform: translateY(-0.25rem);
}

.tarjeta img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.tarjeta h2 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.tarjeta p {
  font-size: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.tarjeta .fecha {
  color: var(--card-date);
}

.tarjeta .descripcion {
  color: var(--card-preview);
}

.tarjeta a {
  text-decoration: none;
  color: inherit;
}

/* Estilos para pantallas pequeñas (480px) */
@media screen and (min-width: 481px) {
  .tarjetas {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .redes-sociales ul {
    flex-direction: column;
  }

  .redes-sociales li {
    margin-bottom: 10px;
  }
}

/* Estilos para pantallas medianas (770px) */
@media screen and (min-width: 771px) {
  .tarjetas {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}

/*Nosotros*/

#nosotros {
  padding: 10px;
}

#nosotros h2 {
  font-size: 1.8em;
  margin-bottom: 8px;
}

#nosotros span {
  color: var(--card-date);
}

#nosotros p {
  font-size: 1.4em;
  text-align: justify;
}

/* Estilos contacto (mobile-first) */
#contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 1.5em;
  border: 1px solid var(--card-date);
  margin: 15px;
  border-radius: 5px;
  background-color: var(--component-bg-secondary);
}

#contacto .contacto_mensaje h2 {
  margin-bottom: 8px;
}

.formulario {
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.formulario label,
.formulario input,
.formulario textarea {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 10px;
}

.formulario button {
  width: 100%;
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.redes-sociales {
  margin-top: 1rem;
}

.redes-sociales h3 {
  margin-bottom: 8px;
}

.redes-sociales ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.redes-sociales li {
  margin-bottom: 0.5rem;
}

.redes-sociales a {
  font-size: 1.5em;
  text-decoration: none;
  color: var(--card-date);
}

.redes-sociales a:hover {
  color: var(--card-preview);
}

/* Estilos para pantallas medianas (640px) */
@media screen and (min-width: 640px) {
  #contacto {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .formulario,
  .redes-sociales {
    width: 45%;
  }

  .redes-sociales ul {
    flex-direction: row;
    justify-content: space-between;
  }

  .redes-sociales li {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}