<h1>Pagina de info de user</h1>

<h2>
  Usuario:<?=($user->getNombre() != "") ? $user->getNombre().'
  '.$user->getUsername() : $user->getUsername()?>
</h2>

<form action="<?=constant('URL')?>/User/updateNombre" method="post">
  <div>
    <label for="nombre">Nombre:</label>
    <input
      type="text"
      name="nombre"
      id="nombre"
      autocomplete="off"
      required
      value="<?=$user->getNombre()?>"
    />
    <div><input type="submit" value="Cambiar nombre" /></div>
  </div>
</form>

<form
  action="<?=constant('URL')?>/User/updateFoto"
  method="post"
  enctype="multipart/form-data"
>
  <div>
    <label for="foto">Foto de perfil:</label>
    <?php if($user->getFoto() != ""){ ?>
    <img
      src="<?=constant('URL')?>/public/img/fotos/<?=$user->getFoto()?>"
      width="200"
      alt=""
    />
    <?php } ?>
    <input type="file" name="foto" id="foto" autocomplete="off" required />
    <div><input type="submit" value="Cambiar foto de perfil" /></div>
  </div>
</form>

<br />
<br />

<form action="<?=constant('URL')?>/User/updatePassword" method="POST">
  <div>
    <label for="foto">Contraseña actual:</label>
    <input type="password" name="current_password" id="current_password" autocomplete="off">

    <label for="new_password">Contraseña nueva</label>
    <input type="password" name="new_password" id="new_password" autocomplete="off" required />
    <div><input type="submit" value="Cambiar contraseña" /></div>
  </div>
</form>

<br><br>