<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="<?=constant('URL')?>/public/css/login.css" />
    <link rel="stylesheet" href="<?=constant('URL')?>/public/css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
  </head>
  <body id="login">
    <p>
      <?php
      $message
      ?>
    </p>
    <header class="header">
      <h1>Neo<span class="gaming">Gaming</span></h1>
      <nav class="nav">
        <ul>
          <li class="header-option">
            <a class="nav-item" href="<?=constant('URL')?>">Inicio</a>
          </li>
          <li class="header-option">
            <a class="nav-item" href="#nosotros">Nosotros</a>
          </li>
          <li class="header-option">
            <a class="nav-item" href="#contacto">Contacto</a>
          </li>
          <li class="header-option">
            <a
              class="nav-item"
              target="_blank"
              href="https://brandt322.github.io/NeoGaming/"
              >Github</a
            >
          </li>
          <li class="header-option selected">
            <a class="nav-item" href="#login">Login</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div id="app">
        <div class="card">
          <h1 class="title">Iniciar <span class="primary">sesion</span></h1>
          <form
            class="form"
            action="<?= constant('URL')?>/Login/authenticate"
            method="POST"
          >
            <button class="form-button">
              <img
                src="<?= constant('URL')?>/public/icons/login/google.png"
                alt="asd"
                class="button-icon"
              />
              Ingresa con google
            </button>
            <div class="mail-input">
              <img
                class="mail-icon"
                src="<?= constant('URL')?>/public/icons/login/user-tag.svg"
                alt="lock"
              />
              <input
                type="text"
                class="input"
                name="username"
                placeholder="Username"
              />
            </div>
            <div class="mail-input">
              <img
                class="mail-icon"
                src="<?= constant('URL')?>/public/icons/login/lock.svg"
                alt="lock"
              />
              <input
                type="password"
                class="input"
                name="password"
                placeholder="Contraseña"
              />
              <p id="alertUserEmail"></p>
            </div>
            <button type="submit" class="form-button">Log in</button>
          </form>
          <div class="links">
            <a href="#" class="link">¿Olvidaste tu contraseña?</a>
            <a href="<?=constant('URL')?>/Signup" class="link">Regístrate</a>
          </div>
        </div>
      </div>
    </main>

    <!-- <script src="../../scripts/app.js"></script> -->
    <script src="<?= constant('URL')?>/public/js/app.js"></script>
  </body>
</html>
